:root {
	--content-spacing: 25px;
	--main-text-color: #262626;
	--separator-color: rgba(51,51,51,0.35);
}

html, body, #main, #application, #screen, #container {
	height: 100vh;
	width: 100vw;
	max-height: 100vh;
	max-width: 100vw;
	overflow: hidden;
}
body {
	margin: 0;
	cursor: default;
	color: var(--main-text-color);
	font-family: "Segoe UI", "Helvetica Neue";
	font-size: 14px;
	background-image: url("assets/bg.png");
	-webkit-user-select: none;
}

/* Default link style */
a {
	text-decoration: none;
	cursor: pointer;
	color: var(--main-text-color);
	-webkit-user-drag: none;
}
a:hover {
	text-decoration: underline;
}
a:active {
	position: relative;
	top: 1px;
	text-decoration: none;
	opacity: 0.8;
}
a.selected {
	font-weight: bold;
}

/* Disable yellow outline for keyboard navigation */
a:focus, input:focus, textarea:focus, select:focus {
	outline: none;
}

/* Application screen container and main flex layout */
#container {
	display: flex;
	flex-direction: column;
	position: relative;
	box-shadow: inset 0 0 20px 0 rgba(0,0,0,0.35);
	pointer-events: none;
}
#content {
	flex: 1;
	padding: var(--content-spacing);
	overflow: hidden;
}

/* Photos decoration */
#photos {
	-webkit-filter: drop-shadow(1px 1px 1px rgba(0,0,0,0.75));
}
#photos .photo {
	position: absolute;
	width: 200px;
	height: 142px;
	cursor: help;
	-webkit-user-drag: none;
}
#photos .photo img {
	width: 182px;
	height: 125px;
	margin-left: 9px;
	margin-top: 8px;
	background-color: #fff;
	-webkit-filter: grayscale(1) contrast(0.9) brightness(0.9) sepia(0.65) invert(0.1);
}
#photos .photo:active img {
	-webkit-filter: none;
}
#photos .photo div {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	background: transparent url("assets/photo-frame.png") 0 0 no-repeat;
}
#photos .missions1 {
	left: 95px;
	top: -43px;
	transform: rotate(-73deg);
}
#photos .missions2 {
	left: -10px;
	top: -30px;
	transform: rotate(-9deg);
	-webkit-filter: drop-shadow(3px 1px 1px rgba(0,0,0,0.25));
}
#photos .create1 {
	right: 150px;
	top: -50px;
	transform: rotate(-11deg);	
}
#photos .create2 {
	right: -10px;
	top: -25px;
	transform: rotate(9deg);
}

/* Bottom action bar */
#actionBar {
	box-sizing: border-box;
	pointer-events: auto;
	flex: 0 0 auto;
	height: 75px;
	margin: 0 var(--content-spacing);
	padding: 0 calc(var(--content-spacing) - 6px); /* 4px from action link padding */
	border-top: 2px dotted var(--separator-color);
}
#actionBar nav {
	margin-top: 21px;
	font-size: 15px;
	line-height: 28px;
}
#actionBar nav.left {
	float: left;
}
#actionBar nav.right {
	float: right;
}
#actionBar a,
#actionBar span {
	display: inline-block;
	text-transform: uppercase;
	font-weight: bold;
	padding: 0 6px;
}
#actionBar a {
	cursor: pointer;
}
#actionBar span {
	color: var(--separator-color);
}

/* Custom difficulty */
#actionBar a.difficulty0 {
	text-shadow: 0 0 30px rgba(77,77,77,1);
}
/* Normal difficulty */
#actionBar a.difficulty1 {
	text-shadow: 0 0 30px rgba(0,129,0,1);
}
/* Expert difficulty */
#actionBar a.difficulty2 {
	text-shadow: 0 0 30px rgba(176,76,0,1);
}

/* Links with country icons */
a.country:before {
	display: inline-block;
	width: 14px;
	padding-right: 5px;
	position: relative;
	top: 2px;
	opacity: 0.4;
	-webkit-filter: grayscale(0.5);
}
a.country.c101:before {
	content: url("assets/country-101.png");
}
a.country.c201:before {
	content: url("assets/country-201.png");
}
a.country.c202:before {
	content: url("assets/country-202.png");
}
a.country.selected:before {
	opacity: 1;
	-webkit-filter: drop-shadow(0 0 1px rgba(0,0,0,0.3));
}

/* Missions screen */
#missions {
	display: flex;
}

/* Missions list */
#missionsList {
	list-style-type: none;
	pointer-events: auto;
	margin: 140px var(--content-spacing) 0 0;
	width: 32%;
	padding: 4px 15px 4px 0;
	max-height: calc(100vh - 273px);
	overflow-y: auto;
}
#missionsList a {
	display: block;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	line-height: 25px;
	font-size: 14px;
}
#missionsList em {
	font-size: 13px;
	font-style: normal;
	float: right;
	margin-left: 8px;
}
#missionsList em:before {
	content: "[";
	opacity: 0.5;
}
#missionsList em:after {
	content: "]";
	opacity: 0.5;
}
#missionsList a.selected em {
	font-weight: normal;
}

/* Mission details pane */
#missionDetails {
	--background-color: rgb(43,45,34);
	--background-color-transparent: rgba(43,45,34,0);
	--text-color: #d6cfcf;
	--light-color: #fbfbfb;
	--dark-color: #959595;
	--title-height: 54px;
	
	flex: 1;
	pointer-events: auto;
	background-color: var(--background-color);
	color: var(--text-color);
	border-radius: 10px;
	box-shadow: 0 10px 6px -6px rgba(0,0,0,0.35);
}

/* Mission title */
#missionDetails h1 {
	display: block;
	font-weight: normal;
	font-size: 17px;
	line-height: var(--title-height);
	color: var(--light-color);
	margin: 0;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	padding: 0 var(--content-spacing);
}

/* Mission briefing */
#briefing {
	position: relative;
	cursor: auto;
	white-space: pre-wrap;
	padding: 5px var(--content-spacing);
	padding-right: 15px;
	margin-right: 15px;
	margin-bottom: 15px;
	height: calc(100vh - 204px);
	overflow-y: auto;
	-webkit-user-select: text;
	
	/* Top and bottom briefing content scroll shadows */
	background:
		/* Shadow covers */
		linear-gradient(var(--background-color) 30%, var(--background-color-transparent)),
		linear-gradient(var(--background-color-transparent), var(--background-color) 70%) 0 100%,
		/* Shadows */
		radial-gradient(farthest-side at 50% 0, rgba(0,0,0,0.4), rgba(0,0,0,0)),
		radial-gradient(farthest-side at 50% 100%, rgba(0,0,0,0.4), rgba(0,0,0,0)) 0 100%;
	background-repeat: no-repeat;
	background-color: var(--background-color);
	background-size: 100% 40px, 100% 40px, 100% 14px, 100% 14px;
	background-attachment: local, local, scroll, scroll;
}

/* Override generated briefing text styles */
#briefing font[size="8"] {
	/* NOTE: This small font size is used as a separator */
	display: block;
	font-size: 0;
	height: 0;
	margin: 10px 0;
}
#briefing font[size="8"] + br {
	display: none;
}
#briefing font[size="14"] {
	font-size: 12px;
}
#briefing font[size="16"] {
	font-size: 13px;
}
#briefing font[color="#fbfbfb"] {
	color: var(--light-color);
}
#briefing font[color="#959595"] {
	color: var(--dark-color);
}
#briefing p {
	padding: 0;
	margin: 0;
}
#briefing i {
	font-style: italic;
}

/* Create mission screen */
#create {
	pointer-events: auto;
}

#create .reset {
	color: var(--separator-color);
	font-size: 14px;
	text-align: center;
	line-height: 18px;
	height: 18px;
	width: 18px;
}
#create .reset:before {
	content: "✖";
}
#create .reset:hover {
	text-decoration: none;
	color: var(--main-text-color);
}

/* Battle title/select */
#create h1 {
	display: block;
	margin: 0;
	font-size: 24px;
	font-weight: normal;
	font-style: italic;
}

/* Select misison date */
#selectDate {
	position: relative;
	height: 90px;
}
#selectDate em {
	display: block;
	padding-left: 10px;
}
#selectDate input {
	display: block;
	float: left;
	width: calc(100vw - 425px);
	margin: 25px 0 0 0;
	cursor: pointer;
	-webkit-appearance: none;
}
#selectDate input::-webkit-slider-runnable-track {
	height: 6px;
	border-radius: 2.5px;
	box-shadow: inset 0px 0px 2px 0px rgba(0,0,0,0.2), 0 0 1px 0 rgba(0,0,0,0.4);
	/* NOTE: Dynamic background gradient is set from JavaScript! */
}
#selectDate input::-webkit-slider-thumb {
	-webkit-appearance: none;
	width: 20px;
	height: 20px;
	border-radius: 10px;
	margin-top: -7px;
	border: 1px solid #262626;
	background: linear-gradient(#595959, #262626);
	box-shadow: inset 0 0 5px 0 rgba(0,0,0,0.4), 0 1px 1px 0 rgba(0,0,0,0.2);
}
#selectDate input::-webkit-slider-thumb:active {
	border: 1px solid #595959;
	background: linear-gradient(#262626, #595959);
}
#selectDate .reset {
	float: left;
	margin: 19px 0 0 8px;
}

/* Create mission choices lists */
#choices {
	overflow: hidden;
}
#choices h2 {
	display: block;
	margin: 0 0 10px 0;
	font-weight: normal;
	font-size: 16px;
	height: 28px;
	line-height: 28px;
	border-bottom: 2px dotted var(--separator-color);
}
#choices h2 span {
	display: inline-block;
	margin-left: 5px;
}
#choices h2 span:before {
	content: "[";
	opacity: 0.5;
}
#choices h2 span:after {
	content: "]";
	opacity: 0.5;
}
#choices h2 .reset {
	float: right;
	margin-top: 6px;
}
#choices .choiceList {
	float: left;
}
#choices .choiceList.unit {
	width: 31%;
}
#choices .choiceList.plane {
	width: 23.6%;
}
#choices .choiceList.task {
	width: 23.6%;
}
#choices .choiceList.airfield {
	width: 21.8%;
}
#choices .choiceList ul {
	max-height: calc(100vh - 300px);
	overflow-y: auto;
	padding: 5px 10px 5px 0;
}
#choices .choiceList h2,
#choices .choiceList ul {
	margin-right: 35px;
}
#choices .choiceList:last-child h2,
#choices .choiceList:last-child ul {
	margin-right: 0;
}
#choices .choiceList li {
	display: block;
	list-style-type: none;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}
#choices .choiceList li a {
	line-height: 19px;
}
#choices .choiceList .invalid {
	opacity: 0.5;
}
#choices .choiceList .selected span,
#choices .choiceList .selected em {
	font-weight: normal;
}
#choices .choiceList em {
	font-style: italic;
}

/* Scrollbars */
::-webkit-scrollbar {
	width: 9px;
}
::-webkit-scrollbar-button {
	display: none;
}
::-webkit-scrollbar-thumb {
	background-color: rgba(87,91,69,0.25);
	border: 2px solid rgba(251,233,188,0.75);
	border-radius: 4px;
}
#briefing::-webkit-scrollbar-thumb {
	border-color: rgba(43,45,34,0.75);
	background-color: rgba(87,91,69,0.5);
}
::-webkit-scrollbar-thumb:hover {
	background-color: rgba(87,91,69,1) !important;
	border: none;
}
::-webkit-scrollbar-thumb:active {
	opacity: 0.75;
}
::-webkit-scrollbar-track {
	background-color: rgba(0,0,0,0.1);
	border-radius: 4px;
}