:root {
	--content-padding: 25px;
	--main-text-color: #333;
	--alt-text-color: #d6cfcf;
	--separator-color: rgba(39, 38, 38, 0.3);
}

html, body, #main, #application, #screen {
	height: 100vh;
	width: 100vw;
	max-height: 100vh;
	max-width: 100vw;
	overflow: hidden;
}
body {
	margin: 0;
	overflow: hidden;
	font-family: "Segoe UI";
	font-size: 14px;
	background: transparent url("assets/bg.png") 50% 50% repeat;
	box-shadow: inset 0 0 15px 0 rgba(0, 0, 0, 0.35);
}
a {
	text-decoration: none;
	-webkit-user-drag: none;
}

/* Application screen and main flex layout */
#screen {
	display: flex;
	flex-direction: column;
}
#content {
	flex: 1;
	padding: var(--content-padding);
	overflow: hidden;
}

/* Bottom action bar */
#actionBar {
	cursor: default;
	flex: 0 0 auto;
	height: 78px;
	margin: 0 var(--content-padding);
	padding: 0 calc(var(--content-padding) - 4px); /* 4px from action link padding */
	border-top: 2px dotted var(--separator-color);
	-webkit-user-select: none;
}
#actionBar nav {
	margin-top: 28px;
	font-size: 15px;
	line-height: 22px;
}
#actionBar nav.left {
	float: left;
}
#actionBar nav.right {
	float: right;
}
#actionBar a {
	cursor: pointer;
	color: var(--main-text-color);
	text-transform: uppercase;
	font-weight: bold;
	padding: 0 4px;
}
#actionBar a:hover {
	text-decoration: underline;
}
#actionBar a:active {
	position: relative;
	top: 1px;
	text-decoration none;
}
#actionBar span {
	display: inline-block;
	color: var(--separator-color);
	padding: 0 6px;
}

/* Missions screen */
#missions {
	display: flex;
}

/* Missions list */
#missionsList {
	list-style-type: none;
	padding: 0;
	margin: 0;
	width: 200px;
	margin-right: var(--content-padding);
	-webkit-user-select: none;
}
#missionsList li {
	
}
#missionsList a {
	color: var(--main-text-color);
	display: block;
}
#missionsList a.active {
	font-weight: bold;
}

/* Mission details pane */
#missionDetails {
	flex: 1;
}

/* Mission title */
#missionDetails h1 {
	display: block;
	font-weight: bold;
	font-size: 18px;
	color: var(--main-text-color);
	margin: 0;
	padding: 0 0 10px var(--content-padding);
}

#briefing {
	background-color: #272626;
	color: var(--alt-text-color);
	white-space: pre-wrap;
	padding: var(--content-padding);
	box-shadow: inset 0px 0px 6px 6px rgba(251,233,188,1);
	max-height: 400px;
	overflow-y: scroll;
}
#briefing font[size="8"] {
	font-size: 6px;
}
#briefing font[size="14"] {
	font-size: 12px;
}
#briefing font[size="16"] {
	font-size: 13px;
}
#briefing p {
	padding: 0;
	margin: 0;
}