@charset "UTF-8";

/* Launch mission dialog */
#launchDialog {
	--normal-color: rgb(0,129,0);
	--normal-color-alt: rgba(0,129,0,0.25);
	--expert-color: rgb(176,76,0);
	--expert-color-alt: rgba(176,76,0,0.25);
	--custom-color: rgb(77,77,77);
	--custom-color-alt: rgba(77,77,77,0.25);
	--hard-color: rgb(157,0,2);
	--hard-color-alt: rgba(157,0,2,0.25);

	text-align: center;
	min-width: 60%;
}
#launchDialog .title,
#launchDialog .plane,
#selectGamePath a {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
#launchDialog .title {
	font-size: 17px;
	color: var(--text-color-alt-light);
	padding: 0 var(--content-spacing);
	margin-bottom: 3px;
}

/* Game path selector */
#selectGamePath {
	margin-top: var(--content-spacing);
	border: 2px solid var(--text-color-alt-dark);
	border-radius: 10px;
}
#selectGamePath a {
	display: block;
	padding: 5px 15px;
}

/* Realism preset selector */
#selectRealism {
	margin-top: var(--content-spacing);
}

#realismPreset {
	list-style-type: none;
	padding: 0;
	margin: 10px 0 0 0;
	display: flex;
	justify-content: center;
}
#realismPreset li:first-child {
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
}
#realismPreset li:last-child {
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
}
#realismPreset li a {
	display: block;
	width: 80px;
	padding: 6px 0;
}
#realismPreset li.selected a {
	font-weight: 600;
	color: var(--text-color-alt-light);
}

/* Normal realism preset */
#realismPreset li.realismPreset1 {
	background-color: var(--normal-color-alt);
}
#realismPreset li.selected.realismPreset1 {
	background-color: var(--normal-color);
}
/* Expert realism preset */
#realismPreset li.realismPreset2 {
	background-color: var(--expert-color-alt);
}
#realismPreset li.selected.realismPreset2 {
	background-color: var(--expert-color);
}
/* Custom realism preset */
#realismPreset li.realismPreset0 {
	background-color: var(--custom-color-alt);
}
#realismPreset li.selected.realismPreset0 {
	background-color: var(--custom-color);
}

/* Custom realism options */
#realismOptions {
	margin-top: var(--content-spacing);
	display: flex;
	text-align: left;
	justify-content: space-around;
}
#realismOptions .group {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin-top: 10px;
}

/* Realism option checkbox */
#realismOptions .checkbox {
	font-size: 12px;
	padding: 3px 0 3px 19px;
	text-indent: -19px;
	cursor: pointer;
}
#realismOptions .checkbox input {
	-webkit-appearance: none;
	cursor: pointer;
	display: inline-block;
	position: relative;
	vertical-align: bottom;
	width: 15px;
	height: 14px;
	margin: 0 4px 0 0;
	background-color: var(--custom-color-alt);
	border: 2px solid var(--custom-color);
	border-radius: 2px;
}
#realismOptions .checkbox.normal input {
	background-color: var(--normal-color-alt);
	border-color: var(--normal-color);
}
#realismOptions .checkbox.hard input {
	background-color: var(--hard-color-alt);
	border-color: var(--hard-color);
}
#realismOptions .checkbox:hover {
	text-decoration: underline;
}
#realismOptions .checkbox:active {
	text-decoration: none;
	position: relative;
	top: 1px;
	opacity: 0.8;
}
#realismOptions .checkbox input:checked:before {
	content: "";
	display: block;
	position: absolute;
	left: 3px;
	top: 0;
	width: 3px;
	height: 6px;
	border-right: 2px solid var(--text-color-alt-light);
	border-bottom: 2px solid var(--text-color-alt-light);
	transform: rotate(45deg);
}
