@charset "UTF-8";

/* Launch mission dialog */
#launchDialog {
	text-align: center;
	min-width: 60%;
}
#launchDialog .title,
#launchDialog .plane,
#selectGamePath a {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
#launchDialog .title {
	font-size: 17px;
	color: var(--text-color-alt-light);
	padding: 0 var(--content-spacing);
	margin-bottom: 3px;
}

/* Game path selector */
#selectGamePath {
	margin-top: var(--content-spacing);
	border: 2px solid var(--text-color-alt-dark);
	border-radius: 10px;
}
#selectGamePath a {
	display: block;
	padding: 5px 15px;
}

/* Difficulty selector */
#selectDifficulty {
	margin-top: var(--content-spacing);
}

#difficultyPreset {
	list-style-type: none;
	padding: 0;
	margin: 10px 0 0 0;
	display: flex;
	justify-content: center;
}
#difficultyPreset li:first-child {
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
}
#difficultyPreset li:last-child {
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
}
#difficultyPreset li a {
	display: block;
	width: 80px;
	padding: 6px 0;
}
#difficultyPreset li.selected a {
	font-weight: 600;
	color: var(--text-color-alt-light);
}

/* Normal difficulty */
#difficultyPreset li.difficulty1 {
	background-color: rgba(0,129,0,0.25);
}
#difficultyPreset li.selected.difficulty1 {
	background-color: rgb(0,129,0);
}
/* Expert difficulty */
#difficultyPreset li.difficulty2 {
	background-color: rgba(176,76,0,0.25);
}
#difficultyPreset li.selected.difficulty2 {
	background-color: rgb(176,76,0);
}
/* Custom difficulty */
#difficultyPreset li.difficulty0 {
	background-color: rgba(77,77,77,0.25);
}
#difficultyPreset li.selected.difficulty0 {
	background-color: rgb(77,77,77);
}