@charset "UTF-8";

/* Missions screen */
#missions {
	display: flex;
}

/* Photos decoration */
#photos .missions1 {
	left: 95px;
	top: -43px;
	transform: rotate(-73deg);
}
#photos .missions2 {
	left: -10px;
	top: -30px;
	transform: rotate(-9deg);
	filter: drop-shadow(3px 1px 1px rgba(0,0,0,0.25));
}

/* Missions list */
#missionsList {
	list-style-type: none;
	pointer-events: auto;
	margin: 140px var(--content-spacing) 0 0;
	width: 32%;
	padding: 4px 15px 4px 0;
	max-height: calc(100vh - 273px);
	overflow-y: auto;
}
#missionsList a {
	display: flex;
	line-height: 25px;
	font-size: 14px;
}
#missionsList span {
	flex: 1 1 0;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
#missionsList em {
	font-size: 13px;
	font-style: normal;
	float: right;
	margin-left: 8px;
}
#missionsList em:before {
	content: "[";
	opacity: 0.5;
}
#missionsList em:after {
	content: "]";
	opacity: 0.5;
}
#missionsList a.selected em {
	font-weight: normal;
}

/* Mission details pane */
#missionDetails {
	flex: 1;
	pointer-events: auto;
	background-color: var(--background-color-alt);
	color: var(--text-color-alt);
	border-radius: 10px;
	box-shadow: 0 10px 6px -6px rgba(0,0,0,0.35);
}

/* Mission title */
#missionDetails h1 {
	display: block;
	font-weight: normal;
	font-size: 17px;
	line-height: 54px;
	color: var(--text-color-alt-light);
	margin: 0;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	padding: 0 var(--content-spacing);
}

/* Mission briefing */
#briefing {
	position: relative;
	cursor: auto;
	white-space: pre-wrap;
	padding: 5px var(--content-spacing);
	padding-right: 15px;
	margin-right: 15px;
	margin-bottom: 15px;
	height: calc(100vh - 204px);
	overflow-y: auto;
	user-select: text;

	/* Top and bottom briefing content scroll shadows */
	background:
		/* Shadow covers */
		linear-gradient(var(--background-color-alt) 30%, var(--background-color-alt-transparent)),
		linear-gradient(var(--background-color-alt-transparent), var(--background-color-alt) 70%) 0 100%,
		/* Shadows */
		radial-gradient(farthest-side at 50% 0, rgba(0,0,0,0.4), rgba(0,0,0,0)),
		radial-gradient(farthest-side at 50% 100%, rgba(0,0,0,0.4), rgba(0,0,0,0)) 0 100%;
	background-repeat: no-repeat;
	background-color: var(--background-color-alt);
	background-size: 100% 40px, 100% 40px, 100% 14px, 100% 14px;
	background-attachment: local, local, scroll, scroll;
}

/* Override generated briefing text styles */
#briefing font[size="8"] {
	/* NOTE: This small font size is used as a separator */
	display: block;
	font-size: 0;
	height: 0;
	margin: 10px 0;
}
#briefing font[size="8"] + br {
	display: none;
}
#briefing font[size="14"] {
	font-size: 12px;
}
#briefing font[size="16"] {
	font-size: 13px;
}
#briefing font[color="#fbfbfb"] {
	color: var(--text-color-alt-light);
}
#briefing font[color="#959595"] {
	color: var(--text-color-alt-dark);
}
#briefing p {
	padding: 0;
	margin: 0;
}
#briefing i {
	font-style: italic;
}

/* Custom briefing scrollbars */
#briefing::-webkit-scrollbar-thumb {
	border-color: rgba(43,45,34,0.75);
	background-color: rgba(87,91,69,0.5);
}
